* {
  --bs-primary-rgb: 50,130,247;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.body {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.searchkeys {
  display: flex;
  margin-top: 15px;
}

.recipes {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchbar {
  margin-top: 15px;
  display: flex;
}
.searchbar__input {
  width: 100%;
  height: 70px;
  background-color: #E7E7E7;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 24px;
  font-size: 18px;
}
.searchbar__input:focus {
  outline: none;
}
.searchbar__button {
  width: 70px;
  height: 70px;
  padding: 19px;
  display: block;
  color: #000000;
  font-size: 32px;
  background-color: #E7E7E7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchkey {
  width: 170px;
  height: 70px;
  margin-right: 20px;
}
.searchkey__input {
  color: #ffffff;
  border: none;
}
.searchkey__input::placeholder {
  color: #ffffff;
}
.searchkey__input:focus {
  outline: none;
  color: #ffffff;
}
.searchkey__input--blue, .searchkey__input--blue:focus {
  background-color: #3282f7;
}
.searchkey__input--green, .searchkey__input--green:focus {
  background-color: #68d9a4;
}
.searchkey__input--red, .searchkey__input--red:focus {
  background-color: #ed6454;
}
.searchkey:last-child {
  margin-right: 0;
}
.searchkey__button {
  color: #ffffff !important;
  border: none;
}
.searchkey__button:hover {
  color: #e7e7e7;
}
.searchkey__button:focus {
  color: #ffffff;
}
.searchkey__button--blue {
  background-color: #3282f7 !important;
}
.searchkey__button--green {
  background-color: #68d9a4 !important;
}
.searchkey__button--red {
  background-color: #ed6454 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.badge {
  --bs-badge-padding-x: 20px;
  --bs-badge-padding-y: 10px;
  --bs-badge-font-size: 14px;
}
.badge__link {
  color: #ffffff;
  vertical-align: middle;
  margin-left: 10px;
}
.badge__link:hover {
  color: #ffffff;
}
.badge .close {
  font-size: 20px;
}

.recipe {
  --bs-card-spacer-x: 20px;
  --bs-card-spacer-y: 20px;
  --bs-card-title-spacer-y: 20px;
  width: 380px;
  height: 380px;
  border: none;
  margin-bottom: 50px;
  border-radius: 5px;
}
.recipe .card-img-top {
  width: 380px;
  height: 178px;
}
.recipe .card-body {
  background-color: #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 202px;
  overflow: hidden;
}
.recipe .card-body .card-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
}
.recipe .card-body .card-heading .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.recipe .card-body .card-heading .recipe-preparation-time {
  font-weight: 700;
  white-space: nowrap;
}
.recipe .card-body .card-heading .fa-clock {
  font-size: 20px;
  margin-right: 5px;
}
.recipe .card-body .card-text {
  font-size: 12px;
  line-height: 14px;
  display: flex;
}
.recipe .card-body .card-text .recipe-ingredients {
  padding-right: 5px;
}
.recipe .card-body .card-text .recipe-preparation {
  padding-left: 5px;
  overflow: hidden;
  max-height: 112px;
}
.recipe .card-body .card-text p {
  flex-basis: 50%;
}/*# sourceMappingURL=main.css.map */