.badge {
    margin-right: 10px;
    padding: 20px 10px;
    font-size: 14px;

    &--ingredients {
        background-color: $color-blue;
    }
    &--appliances {
        background-color: $color-green;
    }
    &--ustensils {
        background-color: $color-red;
    }

    &__link {
        color: #ffffff;
        vertical-align: middle;
        margin-left: 10px;

        &:hover {
            color: #ffffff;
        }
    }

    .close {
        font-size: 20px;
    }
}
