.searchkey {
    width: 170px;
    height: 70px;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    &__input {
        color: #ffffff;
        border: none;

        &::placeholder {
            color: #ffffff;
        }

        &:focus {
            color: #ffffff;
        }
    }

    &__btn {
        border: none;
        color: $color-white;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .dropdown {
        &-toggle::after {
            display: none !important;
        }

        &-menu {
            border: none;
            max-height: 270px;
            overflow-y: scroll;
            grid-template-columns: repeat(3, 200px);

            a {
                color: #ffffff;
            }

            .dropdown-item {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    filter: brightness(95%);
                }
            }

            &.show {
                display: grid;
            }
        }
    }

    &--blue {
        .searchkey__input, .searchkey__btn, .dropdown-menu, .dropdown-item {
            background-color: $color-blue;
        }
    }

    &--green {
        .searchkey__input, .searchkey__btn, .dropdown-menu, .dropdown-item {
            background-color: $color-green;
        }
    }

    &--red {
        .searchkey__input, .searchkey__btn, .dropdown-menu, .dropdown-item {
            background-color: $color-red;
        }
    }
}
